<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MsConStr" value="Server=.;Database=ISCommerceBig;Trusted_Connection=True;MultipleActiveResultSets=True"/>
    <add key="PgConStr" value="User ID=postgres;Password=1364791835Q!;Host=localhost;Port=5432;Database=test;Pooling=false;"/>
    <add key="MsDbName" value="ISCommerceBig"/>
    <add key="MsSchema" value="dbo"/>
    <add key="ChunkSize" value="100000"/>
    <!--Update progress bar: frame per second-->
    <add key="Fps" value="2"/>
  </appSettings>
</configuration>